<html>
<head>
  <meta charset="UTF-8">
  <title>avalonJSP</title>
</head>
<style>
    #div_banner{
        background-color:#ffff00;
        height:80px;
    }
    #div_menu{
        background-color:#0077ff;
        height:37px;
    }
    #div_content{
        background-color:#007700;
    }
    #div_coperight{
        background-color:#00aaff;
        height:25px;
        text-align:right;
    }

</style>
<body>
<div id="div_banner">
這是我的首頁
</div>
<div id="div_menu">
選單
</div>
<div id="div_content">
Avalon Lin
</div>
<div id="div_coperight">
Powerby Avalon Lin
</div>
</body>
</html>